body{
    margin: 0; //hogy a kepnel ne legyen margo
}
h1,h2 {
    font-size: 32px;
    margin-left: -2px;
    line-height: 1.04;
    letter-spacing: -.028em;
    text-align: center;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;}
h2 {
    font-weight: 300;
    font-style: normal;color: rgba(0,0,0,.44);
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 22px;
    text-align: center;
    font-size: 23px;
    margin-left: -1.44px;
    line-height: 1.22;
    letter-spacing: -.022em;
    text-rendering: optimizeLegibility;
}
article {
    width: 600px;
    margin: 0 auto; /*<- fuckin css trick*/
}
p {
    color: rgba(0,0,0,.8);
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -.004em;
}
